
body {
    background-image: url('../src/plante.png');
    background-size: 1000px;
    background-position: top -100px right -300px;
    background-repeat: no-repeat;
    background-color: #fff;
}

/**Nav */

.header_container {
    background-color: #273165;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.header_container .logo_events img {
    width: 90px;
    height: 90px;
    margin-left: 10px;
}

.header_container .navbar {
    position: absolute;
    margin-left: 10%;
}

.header_container .navbar ul {
    list-style: none;
}

.header_container .navbar ul li {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.header_container .navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    line-height: 1.1;
}

.header_container .navbar ul li a:hover {
    color:  #A065A2;
    transition: .3s;
}

/**SECTION */
/**================================================================================== */

.programmation_container,
.billet_container {
    display: block;
    width: 100%;
    height: 90vh;
    background-image: url('../src/decor2.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center top;
}

.programmation_container h1,
.billet_container h1 ,
.contact_section h1 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: #273165;
    font-size: 2.5em;
}

.programmation_container h3,
.billet_container h3,
.contact_section h3 {
    text-align: center;
    color: #273165;
    font-weight: 500;
    margin-bottom: -70px;
}

.list_container{
    position: relative;
    top: 25%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.list_container div > h4 {
    color: #A065A2;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.list_container div ul {
    list-style: none;
}

.list_container div ul li {
    margin-bottom: 20px;
    text-align: center;
}

.list_container div ul li p {
    color: #273165;
    font-weight: 500;
    font-size: 1.2em;
}

.list_container div ul span.hr-p {
    height: 3px;
    width: 20px;
    background: #A065A2;
    display: block;
    align-items: center;
    margin-left: 48%;
    margin-bottom: 2px;
}


/**BILLET */
/**================================================================================== */

.price_container {
    position: relative;
    top: 25%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    grid-gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(100px, auto);
}

.price_container div {
    background-image: linear-gradient(135deg, #273165 0%, #A065A2 100%);
    max-width: 200px;
    height: 250px;
    text-align: center;
    margin-left: 22%;
}

.price_container div > p {
    font-size: 1.7em;
    font-weight: bold;
    color: #fff;
}

.price_container div > button {
    padding: 10px;
    margin-top: 20px;
    font-size: 1.5em;
    align-items: center;
    background: transparent;
    border-color: #fff;
    color: #fff;
    outline: none;
}

.price_container div > button:hover {
    background: #fff;
    color: #221a1a;
    transition: .5s;
}

.price_container div:nth-child(4) {
    grid-column:2;
    margin: 50px 0;
    height: 200px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 427px !important;
}

.price_container div:nth-child(4) > button {
    margin-top: 30px;
}

.facility_payment p {
    margin-top: 15px;
}

.facility_payment p:nth-child(2) {
    font-size: 1em;
}


/**FORM */
/**================================================================================== */

.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_container {
    background: url('../src/fond.png');
    padding: 50px;
    margin-top: -50px;
    display: block;
    color: #fff;
    border-radius: 5px;
}

.form_label {
    display: block;
    font-size: 18px;
    cursor: pointer;
}


.form_input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border: none;
    width: 100%;
    height: 25px;
    padding: 0;
    border-bottom: 1px solid #fff;
    background: 0 0;
    color: currentColor;
    font-family: inherit;
    margin-bottom: 10px;
}

.form_textarea {
    width: 100%;
    border-radius: 0;
    border: .5px solid #fff;
    color: currentColor;
    background: 0 0;
    font-size: 1em;
    line-height: 1.4;
    margin-top: 10px;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: transparent;
    border: 1px solid #fff;
    color: currentColor;
    font-size: 1.5em;
    cursor: pointer;
}

.form-btn:hover {
    background-color: #fff;
    color: #221a1a;
    transition: .3s;
}

.form_note {
    font-size: 11px;
}


/**FOOTER */
/**================================================================================== */

.footer_container__two {
    position: absolute;
    width: 100%;
    top: 100vh;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #273165;
    color:#fff;
}

.footer_container__two footer {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex: 1 1 1;
    flex-direction: row;
}

.footer_container__two footer div > h3 {
    text-transform: uppercase;
    font-size: 1.5em;
}

.footer_container__two footer .nav_left {
    position: absolute;
    top: 25%;
    left: 5%;
}

.footer_container__two footer .nav_left ul {
    list-style: none;
    margin-top: 30px;
}

.footer_container__two footer .nav_left ul li {
    margin-top: 10px;
}


.footer_container__two footer .nav_left ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 1.1;
    font-size: 1.2em;
    transition: .3s;
}


.footer_container__two footer .nav_left ul li a:hover {
    letter-spacing: 2px;
    transition: .3s;
    color: #A065A2;
}


.footer_container__two footer .address_center {
    position: absolute;
    top: 25%;
}

.footer_container__two footer .address_center h3 {
    margin-bottom: 30px;
}

.footer_container__two footer .address_center p {
    margin-top: 10px;
    font-size: 1.2em;
}

.footer_container__two footer .social_right {
    position: absolute;
    top: 25%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_container__two footer .social_right h3 {
    margin-bottom: 30px;
}

.footer_container__two footer .social_right ul {
    list-style: none;
}

.footer_container__two footer .social_right ul li {
    display: inline-block;
}

.footer_container__two footer .social_right ul li a {
    color: #fff;
    font-size: 50px;
    padding: 15px;
}

.footer_container__two footer .social_right ul li a:hover {
    color: #A065A2;
}

.footer_container__two footer .social_right a {
    text-decoration: none;
    color: #fff;
}

.footer_container__two footer .logo_top {
    position: absolute;
    bottom: 50px;
    border-radius: 50%;
    animation: moveForTop 1s linear 1s infinite;
}


/**================================================================================== */
/**MEDIA */

@media(max-width: 768px) {
    .header_container .navbar {
        left: 5%;
    }
}

@media(max-width: 425px) {
    .header_container .navbar {
        font-size: 0.7em;
        left: 15%;
    }

    .programmation_container h1 {
        text-align: center;
        font-family: 'Kaushan Script', cursive;
        color: #273165;
        font-size: 2em;
    }

    .programmation_container h3 {
        text-align: center;
        color: #273165;
        font-weight: 500;
    }

    .list_container div > h4 {
        font-size: 1em;

    }

    .list_container div ul li p {
        font-size: .7em;
    }

    .list_container div ul span.hr-p {
        margin-left: 45%;
    }

    .footer_container__two {
        flex-direction: column;
    }

    .footer_container__two footer div {
        max-width: 115px;
    }

    .footer_container__two footer div > h3 {
        font-size: .9em;
    }

    .footer_container__two footer .nav_left ul li a {
        font-size: .7em;
        padding: .5rem;
    }

    .footer_container__two footer .address_center p {
        font-size: .7em;
    }

    .footer_container__two footer .social_right ul li a {
        font-size: 25px;
        padding: 5px;
    }

    .footer_container__two footer .social_right a {
        font-size: .6em;
    }

    .footer_container__two footer .logo_top a img {
        width: 104.5px;
        height: 104.5px;
    }
}


@media(max-width: 320px) {
    .header_container .navbar {
        font-size: 0.5em;
        left: 15%;
    }

    .footer_container__two footer div {
        max-width: 35px;
    }

    .footer_container__two footer div > h3 {
        font-size: .6em;
    }

    .footer_container__two footer .nav_left ul li a {
        font-size: .5em;
        padding: 0;
    }

    .footer_container__two footer .address_center p {
        font-size: .5em;
    }

    .footer_container__two footer .social_right {
        right: 10%;
    }

    .footer_container__two footer .social_right ul li a {
        font-size: 25px;
        padding: 0px;
    }

    .footer_container__two footer .social_right a.none {
        display: none;
    }

    .footer_container__two footer .logo_top {
        left: 35%;
    }
}

