/**Règles générales */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}


/**Home Page */
/**================================================================================== */

.home_page {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #221a1a;
    color: #fff;
    z-index: 2;

    transition: .5s;
}

.home_page.active {
    right: 300px;
}

.home_page header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**Logo*/
/**================================================================================== */

.logo {
    cursor: pointer;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    transition: .8s;
}

.logo.active {
    transform: translateX(300px) rotateZ(360deg);
    transition: .8s;
}

/**Toggle */
/**================================================================================== */

.toggle_nav {
    position: relative;
    background: url('../src/toggle.png');
    background-position: center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 200;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);

    transition: .3s;
}

.toggle_nav.active {
    background: url('../src/close.png');
    background-color: #fff;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;

    transition: .3s;
}

/**Video + overlay */
/**================================================================================== */

.home_page video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #A065A2;
    mix-blend-mode: overlay;
}

/**Text Container */
/**================================================================================== */

.text_container {
    position: relative;
    z-index: 10;

    transition: all .5s;
}

.text_container.active {
    transform: translateX(300px);
    transition: .5s;
}

.text_container h1 {
    font-size: 3.5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text_container .hr {
    display: block;
    margin: 0.5px;
    width: 350px;
    height: 2px;
    background: #fff;
    margin-bottom: 20px;
}

.text_container h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
}

.text_container p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 425px;
}

.text_container a {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    background: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    text-decoration: none;
    color: #221a1a;
    margin-top: 10px;
    letter-spacing: 2px;
    transition: .3s;
}

.text_container a:hover {
    letter-spacing: 6px;
    color: #A065A2;
}

/**Countdown */
/**================================================================================== */
.countdown_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 75%;
    left: 3.5%;
    transition: .3s;
}

.countdown_container.active {
    display: none;
    transition: .2s;
}

.big_text {
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1;
    margin: 1rem 2rem;
    text-shadow: 0 5px 20px rgba(0,0,0,.2);
}

.countdown_element {
    text-align: center;
}

.countdown_element span {
    font-size: 1.5rem;
}


/**Social Link */
/**================================================================================== */

.social {
    position: absolute;
    bottom: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    color: #fff;
    margin-right: 30px;
    transform: scale(2);
    transition: .5s;
}

.social li a:hover {
    transform: scale(2) translateY(-15px);
    color: #A065A2;
}

.scroll_btn {
    text-decoration: none;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 2em;
    animation: scrollAnim .5s linear 1s infinite;
}

@keyframes scrollAnim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(-0.5px);
    }
}

/**Nav Menu */
/**================================================================================== */

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #221a1a;
    text-transform: uppercase;
    transition: .3s;
}

.menu ul li a:hover {
    color: #A065A2;
    letter-spacing: 2px;
    transition: .3s;
}
/**================================================================================== */

/**Info Page */
/**================================================================================== */

.infos_page {
    position: absolute;
    width: 100%;
    top: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #221a1a;
}

/**Push Infos */
/**================================================================================== */

.border_gradient {
    height: 75px;
    min-width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url('../src/bande.png');
    background-position: center;
}

.border_gradient p {
    padding: 25px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}






/**Media Query */
/**================================================================================== */

/**For Tablette */
@media(max-width: 798px) {
    .text_container.active {
        display: none;
    }

    .text_container h1 {
        font-size: 1.75em;
    }

    .text_container h2 {
        font-size: 1.1em;
    }
    .text_container p {
        font-size: .85em;
    }
}

@media(max-width: 768px) {
    .text_container.active {
        display: none;
    }

    .big_text {
        font-size: 1.75em;
        margin: 1rem 3rem;
    }
}

@media(max-width:425px) {
    .home_page.active {
        right: 150px;
    }


    .logo {
        width: 75px;
    }

    .text_container h1 {
        font-size: 1.5em;
    }

    .text_container .hr {
        width: 25px;
    }

    .text_container h2 {
        font-size: 1em;
    }

    .text_container p {
        font-size: .75em;
    }

    .text_container a {
        font-size: .75em;
    }

    .countdown_container {
        left: 15%;
    }

    .big_text {
        font-size: 1.5em;
        margin: .5rem 1.5rem;
    }

    .countdown_element span {
        font-size: .75em;
    }

    .social.active {
        display: none;
    }

    .scroll_btn {
        left: 75%;
    }

    .toggle_nav,
    .toggle_nav.active {
        width: 30px;
        height: 30px;
        background-size: 15px;
    }

    .toggle_nav.active {
        margin-right: -50px;
    }

    .menu {
        width: 135px;
    }

    .menu ul li a {
        font-size: 18px;
    }
}

@media(max-width:375px) {
    .toggle_nav.active {
        margin-right: -35px;
    }

    .social li a {
        transform: translateX(0px);
        transition: .2s;
    }

    .social.active {
        display: none;
    }
}

@media(max-width:320px) {
    .home_page header {
        padding: 20px 50px;
    }

    .toggle_nav.active {
        margin-right: -35px;
    }

    .text_container p{
        margin: 10px 0;
    }

    .text_container a {
        font-size: .5em;
        padding: 5px 15px;
    }

    .countdown_container {
        left: 4%;
    }

    .big_text {
        font-size: 1.5em;
        margin: .5rem 1.5rem;
    }

    .countdown_element span {
        font-size: .75em;
    }

    .social li a {
        transform: translateX(-20px);
        transition: .2s;
    }

    .social.active {
        display: none;
    }
}


